{% extends 'form_div_layout.html.twig' %}

    {% block modal %}
        <!-- Trigger the modal with a button -->
        <button type="button" class="{{ btnClass|default('btn btn-info btn-lg') }}" data-toggle="modal" data-target="#{{ id }}_modal">{{ btnText|default('Files') }}</button>
        <!-- Modal -->
        <div id="{{ id }}_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    {% block modal_header %}
                    {% endblock %}
                    {% block modal_body %}
                        <div class="modal-body">
                            <div {{ block('widget_container_attributes') }}>
                                {%- if form.parent is empty -%}
                                    {{ form_errors(form) }}
                                {%- endif -%}
                                {{- block('form_rows') -}}
                                {{- form_rest(form) -}}
                            </div>
                        </div>
                    {% endblock %}

                    {% block modal_footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block dropzone_file_gallery_widget %}
        {% spaceless %}
            {% include '@SopinetUploadFiles/Form/_common.html.twig' %}
            {{ block(type) }}
        {% endspaceless %}
    {% endblock %}
